
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --white-50: #ffffff;
    --white-100: #e7e7e7;
    --white-125: #b0b0b0;
    --white-150: #818181;
    --active-link:#DBF40C;
    --black-100:#1D1D1D;
    --border-green:#AFC309;
  }
}
html {
  font-size: 16px;
}
body {
  font-family: var(--font-sora);
  color: var(--white-100);
  background: var(--black-100);
}

